@import '../common/styles/sass/variables';

.headerContainer {
  height: 80px;
  background-color: $bgSecondColor;
  display: flex;
  align-items: center;

  .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
}

