@import '../common/styles/sass/variables';

.headerContainer {
  z-index: 10;
  height: 80px;
  width: 100%;
  //background-color: $bgColor;
  display: flex;
  justify-content: center;
  align-items: center;
  .header {
    max-width: 1500px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
  }
}

