.contactsBlock {
    background-color: #d48aff;
}
.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #fff59d;
}
.contacts {
    border: 1px solid;
    width: 70%;
    display: flex;
    flex-direction: column;;
    flex-wrap: wrap;
}
.field {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.textarea {
    padding-left: 10px;
    padding-right: 10px;
}
.btn {
    margin: 20px auto;
    left: 0;
    right: 0;
    text-align: center;
}