@import "../../common/styles/sass/variables";

.nav {
  padding-right: 50px;
  padding-left: 50px;
  & a {
    text-decoration: none;
    color: $textColor;
    margin-right: 30px;
    transition: .2s linear;
    &:hover {
      color: $primaryColor;
      cursor: pointer;
      transform: scale(.9);
    }
    &:last-child {
      margin: 0;
    }
  }
  @media screen and (max-width: 440px) {
    display: none;
  }
}

