@import '../common/styles/sass/variables';

.skillsBlock {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 0;
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: '';
    background-color: $bgColor;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
  }

  .skillsContainer {
    max-width: 1500px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      z-index: 3;
      align-items: center;


      @media screen and (max-width: 966px) {
        justify-content: center;
      }
    }
  }
}



