@import '../../common/styles/sass/variables';
@import '../../common/styles/sass/mixins';
.project {
  width: 450px;
  background-color: $bgSecondColor;
  display: flex;
  flex-direction: column;
  align-items: center;

  .iconBlock {
    width: 100%;
    height: 250px;

    .imgContainer {
      height: 250px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-size: cover;
      background-position: center;
      position: relative;
      //.viewBtn {
      //    background-color: $bgSecondColor;
      //    text-decoration: none;
      //    color: $primaryColor;
      //}
    }
  }

  .projectBody {
    padding: 20px;

    .projectTitle {
      @include text (20px, 600, 0.1);
      margin: 0 0 6px;
      line-height: 1.5;
      color: $textColor;
    }

    .projectDescription {
      color: #9f9f9f;
      @include text(14px, 400, 1.7);
      margin: 0;
      word-wrap: break-word;
    }
  }

  .linkContainer {
    overflow: hidden;
    display: inline-block;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: $textColor;
    position: relative;
    padding-right: 2rem;
    /*position: relative;*/
    /*transform: translateX(-200%);*/
    /*display: inline-block;*/
    /*transition: .6s cubic-bezier(.6, .01, 0, 1);*/
    /*color: #ffffff;*/
    .link {
      color: $textColor;
      text-decoration: none;

      &::after {
        background-color: $primaryColor;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-play-state: running;
        animation-fill-mode: forwards;
        animation-duration: .4s;
        animation-timing-function: cubic-bezier(.6, .01, 0, 1);
        bottom: 0;
        height: .125rem;
        margin: auto;
        left: 0;
        content: '';
        position: absolute;
        top: 0;
        width: 100%;
        transform: scaleX(.2);
        transform-origin: left center;
        z-index: 1;
        animation-name: lineAnimation;

        span {
          position: relative;
          transform: translateX(-200%);
          display: inline-block;
          transition: .6s cubic-bezier(.6, .01, 0, 1);
          font-size: .75rem;
          text-transform: uppercase;
          font-weight: 700;
          visibility: hidden;

          &:hover {
            visibility: visible;
          }
        }
      }
    }
  }
}



@keyframes lineAnimation {
  0% {
    left: 0;
  }
  50% {
    transform: translateX(-100%);
    right: 0;
    left: initial;
    width: 100%;
  }
  100% {
    transform: translateX(0);
    width: 15px;
    left: 100%;
  }
}











