.project {
    width: 250px;
    background-color: #9af0ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconBlock {
    width: 250px;
    height: 150px;
}
.imgContainer {
    height: 100%;
    width: 100%;
    background-color: #ffdefe;
    display: flex;
    align-items: center;
    justify-content: center;


}
.img {
    border: 2px solid;
    background-color: #d48aff;
    text-decoration: none;
}