@import './../common/styles/sass/variables';

.footerBlock {
  background-color: $bgColor;

  .footerContainer {
    flex-direction: column;
    justify-content: flex-start;

    .title {
      color: $textColor;
      font-weight: 600;
      font-size: 20px;
      padding: 30px;

      &:last-child {
        font-weight: 300;
        font-size: 14px;
      }
    }

    .linksContainer {
      display: flex;
      justify-content: center;
      padding: 30px;

      @media screen and (max-width: 450px) {
        padding: 10px;
      }


      .link {
        position: relative;
        font-size: 25px;
        color: #009e66;
        transition: .4s linear;
        margin-right: 40px;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          transform: scale(.9);
        }
      }
    }
  }
}



