.projectsBlock {
    min-height: 100vh;
    background-color: #c3ffc8;
}
.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title {
    background-color: #fff59d;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}